.holeOut {
    -webkit-animation-name: holeOut;
    animation-name: holeOut
}


.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}


.tinLeftIn {
    -webkit-animation-name: tinLeftIn;
    animation-name: tinLeftIn
}
